section.about
	.about-container
		h2 #{about.title}
		.about-content
			form(action='mail.php', method='post', onsubmit='return checkrequired(this)')
				label(for='name') #{about.form.name.label}
				input#name(placeholder=about.form.name.placeholder name='requiredfullname', type='text', value='', required='')
				label(for='email') #{about.form.email.label}
				input#email(placeholder=about.form.email.placeholder name='requiredemail', type='email', value='', required='')
				label(for='subject') #{about.form.subject.label}
				input#subject(placeholder=about.form.subject.placeholder name='requiredsujet', type='text', value='', required='')
				label(for='message') #{about.form.message.label}
				textarea#message(placeholder=about.form.message.placeholder name='requiredmessage', required='')
				button(type='submit') #{about.form.buttonText}
				//- p#merci #{about.form.successText}
				//- p#failure #{about.form.failureText}