section.section.home
	header
		h1
			span.name !{main.name}
			small.activity !{main.activity}

		span.language
			each language in languages
				if language.abbr === languages.selected
					abbr(title=language.name) !{language.abbr}
				else
					a(href=language.url)
						abbr(title=language.name) !{language.abbr}

	ul(id="parallax-cover")
		each layer in ui.cover
			li.layer(data-depth=layer.depth) #[img(alt=layer.alt src=layer.url)]