header.section.home
	.home-header
		h1(itemprop="name headline")
			if template === 'layout'
				span.name(itemprop="author creator") !{main.name}&nbsp;
				span.activity(itemprop="genre") !{main.activity}
				meta(itemprop="primaryImageOfPage" content="/img/cover.jpg")
			if template === 'article'
				a(href="index.html")
					span.name(itemprop="author creator") !{main.name}&nbsp;
					span.activity(itemprop="genre") !{main.activity}
				meta(itemprop="primaryImageOfPage" content=storedProject.coverImage.url)

		meta(itemprop="genre" content="design")
		meta(itemprop="learningResourceType" content="portfolio")

		span.language
			each language in languages
				if language.abbr === selectedLanguage.abbr
					abbr(title=language.name) !{language.abbr}
				else
					- var languageLink;
					if template === 'article'
						- languageLink = language.url + storedProject.lowercase;
					else if template === 'layout'
						- languageLink = language.url;

					a(href=languageLink+"index.html")
						abbr(title=language.name) !{language.abbr}

	if template === 'layout'
		p.hidden(itemprop="description") #{main.description}
		ul(id="parallax-cover")
			each layer in ui.cover
				li.layer(data-depth=layer.depth) #[img(alt=layer.alt src=layer.url)]