section.section.home
	header
		h1
			span.name !{main.name}
			small.activity !{main.activity}

		span.language
			each language in languages
				if language.abbr === languages.selected
					abbr(title=language.name) !{language.abbr}
				else
					a(href=language.url)
						abbr(title=language.name) !{language.abbr}

	ul(id="parallax-cover")
		li(class="layer" data-depth="0.44") #[img(alt="" src="/img/cover/back.png")]
		li(class="layer" data-depth="0.51") #[img(alt="" src="/img/cover/neck.png")]
		li(class="layer" data-depth="0.44") #[img(alt="" src="/img/cover/tee.png")]
		li(class="layer" data-depth="0.59") #[img(alt="" src="/img/cover/face.png")]
		li(class="layer" data-depth="0.66") #[img(alt="" src="/img/cover/fairing2.png")]
		li(class="layer" data-depth="0.74") #[img(alt="" src="/img/cover/fairing1.png")]
		li(class="layer" data-depth="0.51") #[img(alt="" src="/img/cover/head.png")]
		li(class="layer" data-depth="0.74") #[img(alt="" src="/img/cover/jawscrew.png")]
		li(class="layer" data-depth="0.77") #[img(alt="" src="/img/cover/nose.png")]
		li(class="layer" data-depth="0.87") #[img(alt="" src="/img/cover/hair.png")]