.major-content
	p.lead-in-article(itemprop="description")
		if (template === 'article')
			| !{project.lead}

	if project.relatedContent
		aside.related-content
			dl
				each list in project.relatedContent
					dt !{list.name}
					each item in list.items
						if item.microdata === 'associatedMedia'
							dd(itemprop=item.microdata itemscope itemtype="http://schema.org/MediaObject")
								a(itemprop="contentUrl" href=item.url target="_blank")
									span(itemprop="name") !{item.name}
						else if item.microdata === 'contributor'
							dd(itemprop=item.microdata itemscope itemtype="https://schema.org/Person")
								a(itemprop="url" href=item.url target="_blank")
									span(itemprop="name") !{item.name}
						else
							if item.url
								dd #[a(href=item.url target="_blank") !{item.name}]
							else
								dd !{item.name}


	if project.content
		each media in project.content
			case media.type
				when 'text'
					.text-major(itemprop="text")
						each element in media.elements
							if element.title
								h3 !{element.title}
							case element.type
								when 'paragraph'
									.paragraphs
										each paragraph in element.paragraphs
											p !{paragraph}
								when 'list'
									if element.title
										h3 !{element.title}
									if element.nature === 'ordered'
										ol
											each item in element.items
												li !{item}
									else if element.nature === 'unordered'
										ul
											each item in element.items
												li !{item}

				when 'image'
					figure(class=media.size + "-media" itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
						a(itemprop="contentUrl" href=media.url target="_blank")
							img(src=media.url alt=media.alt)
						if media.caption
							figcaption(itemprop="caption description") !{media.caption}

				when 'video'
					figure(class=media.size + "-media" itemprop="video" itemscope itemtype="http://schema.org/VideoObject")
						.video-wrapper
							iframe(itemprop="embedUrl" src=media.url+"?rel=0&amp;showinfo=0" allowfullscreen)
						if media.caption
							figcaption(itemprop="caption description") !{media.caption}

				when 'audio'
					figure(class=media.size + "-media" itemprop="audio" itemscope itemtype="http://schema.org/AudioObject")
						.audio-wrapper
							iframe(itemprop="embedUrl" src=media.url+"&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=true")
						if media.caption
							figcaption(itemprop="description") !{media.caption}


	footer
		section.share-this
			h3.footer-title !{ui.article.footer.share.header}
			a.icon-facebook-share(href=ui.article.footer.share.facebook.url+storedProject.lowercase+".html" target="_blank" title=ui.article.footer.share.facebook.title)
			a.icon-twitter-share(href=ui.article.footer.share.twitter.url+storedProject.lowercase+".html" target="_blank" title=ui.article.footer.share.twitter.title)
		.close-article-button(aria-hidden="true") !{ui.article.footer.closeArticleText}
		a.back-to-site-button(href="index.html") !{ui.article.footer.backToSiteText}