- var i = 0;

each project in majorProjects
	- i++;
	
	article.section.majors(class=project.lowercase+" major-project"+i itemscope itemtype="http://schema.org/CreativeWork")
		header
			.project-details(class=project.lowercase)
				time(itemprop="dateCreated" datetime=project.date) !{project.explicitDate}
				h2(itemprop="headline")
					span(itemprop="name") !{project.title}
					<br> 
					span.subtitle !{project.subtitle}
				if (template === 'layout')
					p.lead(itemprop="description") !{project.lead}
					a.read-more(href=project.lowercase+".html" itemprop="url") !{ui.article.header.moreText}

			aside.tags(class="tags"+i)
				dl.tag-list(class='tags'+i)
					dt.hidden !{ui.majors.tags}
					- var tags = "";
					each tag in project.tags
						dd #[strong !{tag}]
						- tags += (tag + " ")
				meta(itemprop="genre" content=tags)

			div.cover-image
				img(alt=project.coverImage.alt src=project.coverImage.url)
		
		if template === 'article'
			include major-projects