p.lead-in-article

if project.relatedLinks
	aside.related-links
		dl
			each list in project.relatedLinks
				dt #{list.name}
				each link in list.links
					dd #[a(href=link.url) #{link.name}]


if project.content
	each media in project.content
		case media.type
			when 'text'
				div.text-content
					each paragraph in media.paragraphs
						p #{paragraph}
			when 'image'
				figure(class=media.size + "-media")
					a(href=media.url target="_blank")
						img(src=media.url alt=media.alt)
					if media.caption
						figcaption #{media.caption}
			when 'video'
				figure(class=media.size + "-media")
					.video-wrapper
						iframe(src=media.url allowfullscreen)
					if media.caption
						figcaption #{media.caption}
footer
	section.share-this
		h3 Share this
		a.icon-facebook-share(href="#" title="On Facebook")
		a.icon-twitter-share(href="#" title="On Twitter")
	a.close-article-button(href="#") #{ui.article.footer.closeArticleText}