- var i = 0;

each project in majorProjects
	- i++;
	article.section.projects(class='project'+i)
		header.project-details
			time(datetime=project.date) #{project.explicitDate}
			h2 #{project.title}<br>
				span #{project.subtitle}
			p.lead #{project.lead}
			a.read-more(href="#") Read more...

		.tags
			span(class='tags'+i) #{project.tags}

		div.cover-image #[img(alt=project.coverImage.alt src=project.coverImage.url)]