- var projectIndex = 0;

nav.on-home.nav
	svg.nav-toggle-button(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 21 9" xml:space="preserve")
		//- defs(xmlns='http://www.w3.org/2000/svg')
		//- 	filter#dropshadow(x="-180%" y="-500%" width="500%" height="1000%")
		//- 		fegaussianblur(in='SourceAlpha', stddeviation='2')
		//- 		feoffset(dx='0', dy='0', result='offsetblur')
		//- 		feflood(flood-color='black' flood-opacity='0.6')
		//- 		fecomposite(in2='offsetblur', operator='in')
		//- 		femerge
		//- 			femergenode
		//- 			femergenode(in='SourceGraphic')
		polygon(points="20,1 10.5,8 1,1")

	.nav-links
		a.link(href="#home") #{nav.home}
		.link.worklink #{nav.work}

		.worktab
			each project in projects.majors
				- projectIndex++;
				a.link(href="#project"+projectIndex) #{project.title}
			a.link(href="#other") #{nav.others}
		
		span.about-nav-block
			a.link.about-open-button(href="#about") #{nav.about}

.page-switches
	button.up-button 
		svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 74 19" xml:space="preserve")
			polyline(style="fill:none;stroke-miterlimit:10;" points="1,17 37,2 73,17 ")
	button.down-button
		svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 74 19" xml:space="preserve")
			polyline(style="fill:none;stroke-miterlimit:10;" points="73,2 37,17 1,2 ")